<h3>Add new contact</h3>

<div>
    <label>Firstname</label>
    <input ng--model="contact.firstname">
</div>

<div>
    <label>Lastname</label>
    <input ng--model="contact.lastname">
</div>

<div>
    <label>City</label>
    <input ng--model="contact.city">
</div>

<div>
    <label>Phone</label>
    <input ng--model="contact.phone">
</div>

<div>
    <label>Email id</label>
    <input ng--model="contact.email">
</div>


<div>
    <label></label>
    <button ng-click="save()">Save</button>
</div>
