<h3>Add new contact</h3>

<div class="" ng-hide="contact">
  <h3>Loading...</h3>
</div>

<div class="form" ng-show="contact">
  <form method="post" name="f1">

    <div>
      <label>Firstname</label>
      <input name="first_name" ng--model="contact.first_name" ng-maxlength="15" ng-minlength="3" required>

      <span class="error" ng-show="f1.first_name.$error.required">
        Firstname is required
      </span>
      <!--<span ng-show="f1.firstname.$error.required" class="">
      Firstname is required
    </span>
    <span ng-show="f1.firstname.$error.minlength"class="">
      Minimum of 3 letters required
    </span>
    <span ng-show="f1.firstname.$error.maxlength" class="">
      Maximun allowed is 15 letters
    </span> -->
    </div>

    <div>
      <label>Lastname</label>
      <input ng--model="contact.last_name">
    </div>

    <div>
      <label>City</label>
      <input ng--model="contact.city">
    </div>

    <div>
      <label>Phone:</label>
      <input name="phone" ng-disabled="edit" ng-minlength="10" ng-model="contact.phone" pattern="[0-9]{10}" required>
      <span ng-show="f1.phone.$error.required">Required!</span>
      <span ng-show="f1.phone.$error.minlength">Maximum of 10 digits</span>
    </div>

    <div>
      <label>Email id</label>
      <input ng--model="contact.email" type="email">
    </div>

    <div>
      <label></label>
      <button type="button" ng-click="save()" ng-disabled="f1.$invalid">Save</button>
    </div>

  </form>

</div>
